/*########## GENERAL ############"*/

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none; /*enleve les pastille en face des liste*/
}

a {
  text-decoration: none; /*enleve la ligne en desous des liens*/
}

/*################################################ HEADER #############*/

header {
  margin: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(255, 121, 44, 0.82);
}

#chapeau {
  float: left;
  margin-top: 10px;
  margin-left: 140px;
}

h1 {
  position: absolute;
  width: 110px;
  height: 50px;
  left: 100px;
  top: -5px;

  font-family: "Dongle", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 104px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.orange {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 139, 73, 0.6);
  font-size: 15px;
  font-weight: bold;
}

.orange:hover {
  color: rgba(1, 170, 204, 0.8);
}
/*############################################# HEADER NAV ############*/
a {
  font-family: "Dongle", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 34px;
  color: #ffffff;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-top: 30px;
  margin-left: 125px;
}

header nav ul li {
  display: inline; /*avoir sur la meme ligne*/
}

header nav ul li a {
  font-weight: lighter; /*mes en gras*/
  margin-right: 40px;
}

.list:hover {
  color: #1f1f2c;
}

/*######################################## HEADER BOUTON 14 DAY FREE TRIAL ##################*/

#deux-bouton {
  display: flex;
  text-align: center;
}

.buttom-1 {
  font-family: "https://fonts.googleapis.com/css2?family=Roboto&display=swap",
    sans-serif;
  text-transform: uppercase;
  float: right;
  margin-top: 30px;
  margin-left: 8.8rem;
  background-color: #1f1f2c;
  color: #fff;
  width: 150px;
  height: 42px;
  font-size: 0.7rem;
  line-height: 40px;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
}

.buttom-1:hover {
  background-color: #02b8dd;
  color: #262632;
}

/*######################################### HEADER LOG IN ###############*/

.buttom-2 {
  font-family: "Dongle", sans-serif;
  text-transform: uppercase;
  float: inline-end;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 30px;
  width: 100px;
  height: 35px;
  background: rgba(255, 139, 73, 0.6);
  border: 3px solid #ffffff;
  /*box-sizing: border-box;*/
  font-size: 1rem;
  line-height: 40px;
  justify-content: center;
  border-radius: 7px;
}

.buttom-2:hover {
  background-color: #02b8dd;
  color: #262632;
  border-color: #262632;
}

/*###################################### HEADER CONCTACT US ############"*/

header h2 {
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 73px;
  letter-spacing: 0.01em;

  color: #ffffff;
}

header p {
  margin-top: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 23px;

  color: #423f3f;
}

/*###############################3 SECTION GAUCHE ####################*/

.container {
  display: flex;
}

#partie-gauche {
  height: 750px;
  width: 100%; /*largeur*/
  padding: 0 10px;
  background-color: #fff;
  box-sizing: border-box;
}

#blue-title-1 {
  text-transform: uppercase;
  color: rgba(1, 170, 204, 0.8);
  margin-top: 60px;
  margin-left: 80px;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

#partie-gauche p {
  margin-top: 5px;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
  color: rgba(41, 41, 41, 0.7);
  font-size: 15px;
  font-weight: bold;
}

#formulaire {
  margin-top: 35px;
  margin-left: 80px;
}

.field {
  margin-bottom: 30px;
  width: 550px;
  height: 35px;
  border: 1.5px solid rgba(56, 50, 50, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
}

textarea {
  resize: none;
}

#field-2 {
  height: 130px;
}

div div form input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  height: 1em;
}

div div form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  height: 1em;
  font-weight: normal;
  border: 1.5px solid rgba(56, 50, 50, 0);
}

.field::placeholder {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;

  color: rgba(56, 50, 50, 0.3);
}

#submit {
  font-family: "Montserrat", sans-serif;
  float: right;
  margin-top: 5px;
  margin-left: 35px;
  background-color: rgba(255, 139, 73, 0.8);
  width: 150px;
  height: 60px;
  font-size: 0.65rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

#submit:hover {
  background-color: #02b8dd;
  color: #262632;
  cursor: pointer;
}

/*########################################### SECTION DROITE #############*/

#partie-droite {
  height: 750px;
  width: 100%; /*largeur*/
  padding: 0 10px;
  background-color: white;
  box-sizing: border-box;
}

#blue-title-2 {
  text-transform: uppercase;
  color: rgba(1, 170, 204, 0.8);
  margin-top: 60px;
  margin-left: 30px;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

#partie-droite #paragraphe-1 {
  margin-top: 5px;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  color: rgba(41, 41, 41, 0.7);
  font-size: 15px;
  font-weight: bold;
}

#image-paragraphe-2 {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  /* font-weight: bold; */
  font-size: 1.22rem;
  color: rgba(41, 41, 41, 0.95);
}

#image-1 {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  width: 70px;
}

#image-paragraphe-3 {
  float: right;
  margin-top: 30px;
  margin-right: 140px;
  font-family: "Roboto", sans-serif;
  color: rgba(41, 41, 41, 0.82);
  font-size: 15px;
  font-weight: bold;
}

#image-2 {
  float: left;
  margin-top: 25px;
  margin-left: 22px;
  width: 74px;
  padding-right: 10px;
}

#image-paragraphe-4 {
  float: right;
  margin-top: 20px;
  margin-right: 128px;
  font-family: "Roboto", sans-serif;
  color: rgba(41, 41, 41, 0.82);
  font-size: 15px;
  font-weight: bold;
}

#image-3 {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  width: 70px;
  height: 70px;
  padding-right: 10px;
}

#image-paragraphe-5 {
  float: right;
  margin-top: 10px;
  margin-right: 140px;
  font-family: "Roboto", sans-serif;
  color: rgba(41, 41, 41, 0.82);
  font-size: 15px;
  font-weight: bold;
}

/* ################################  DIV DU BAS BOTTOM ##########################*/

.bottom {
  display: flex;
  background-color: rgb(59, 59, 59);
  height: 280px;
  width: 100%;
}

.div1 {
  margin-top: 40px;
  padding-left: 25px;
  margin-right: 25px;
}

.div1:first-child {
  padding-left: 100px;
}

.div1:nth-of-type(2) {
  padding-right: 30px;
}

.div1:nth-of-type(3) {
  padding-right: 10px;
}

.div1:nth-of-type(4) {
  padding-right: 10px;
}

.div1:nth-of-type(5) {
  padding-right: 10px;
}

.mini-titre {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 14px;
  color: #fff;
}

.lien-bottom {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  color: rgba(168, 168, 168, 0.8);
}

.lien-bottom:hover {
  color: #02b8dd;
}

#create {
  font-family: "Dongle", sans-serif;
  margin-top: 25px;
  width: 180px;
  height: 50px;
  background-color: #1c1c3a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 15px;
}

#create:hover {
  font-family: "Dongle", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #02b8dd;
  color: #1c1c3a;
}

/*################################## FOOTER ##############################*/

footer {
  height: 40px;
  background-color: rgb(49, 45, 45);
}

footer p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  color: rgba(168, 168, 168, 0.8);
  padding-left: 100px;
  padding-top: 5px;
}

#afoot {
  font-weight: lighter;
  padding-top: 5px;
}
